%h4
  %i.fa.fa-bitcoin
  %strong
    0.01 or more
  %small
    [ 5,000 Available ]
%p
  %strong 1x Entropy Digital Citizenship Token,
  offically part of the community, entitled to vote on all matters, including the vessels next destination; Lifetime discount of 50% off: time aboard, cafe and any other events. Limited to one per person.

%hr
%h4
  %i.fa.fa-bitcoin
  %strong
    0.1 or more
  %small
    [ 2,000 Available ]
%p
  %strong 1x Postcard
  We will write and send you a postcard from somewhere around the world. We will make sure there are no spiders attached.

%hr
%h4
  %i.fa.fa-bitcoin
  %strong
    1.0 or more
  %small
    [ 2,000 Available ]
%p
  %strong Cinema Night
  You can come aboard for one of our exclusive backer events
