.row
  .col-sm-6.text-left
    %h3
      %span#citizen_count
      %span#coinbase
      Citizens
  .col-sm-6.text-right
    %h3
      %span#ether_count
      Ether
.row
  .col-sm-12
    .progress-container
      .progressbar#crowdfund_progress
        
