%header.homepage
  .header-content
    .row
      .col-lg-10
        = image_tag "entropy_logo_text_white.png", class: 'main-logo img-responsive'
    .row
      .col-lg-10.bottom-align-text
        %h1.main-lead-text.text-left.bigger The Earth's Blockchain Fleet


  .banner-stats.col-md-6
    .row
      .col-xs-3
        %h1#days --
        %h4 Days
      .col-xs-3
        %h1#hours --
        %h4 Hours
      .col-xs-3
        %h1#minutes --
        %h4 Minutes
      .col-xs-3
        %h1#seconds --
        %h4 Seconds
    .row
      .col-sm-6.text-left
        %h3 1326 / 4000 Citizens
      .col-sm-6.text-right
        %h3 9783 Ether
    .row
      .col-sm-12
        .progress-container
          .progressbar{ style: "width: 20%" }
            20%


:javascript
  

%header.secondary.alpha.text-right
  .container
    .row
      .col-sm-5.col-sm-offset-5
        %br
        %br
        %h1
          YOU DECIDE
          %br
          WHERE WE GO
      .col-sm-2
        = image_tag "icons250pxpin.png", class: 'img-responsive section-icon pull-right'

    .row
      .col-sm-7.col-sm-offset-5
        %p.lead
          Project Entropy is a decentralised autonomous organisation with a
          global community at its heart. We want to tell the story of the boat
          without a captain - the fleet with true democracy.

%header.secondary.beta.text-left
  .container
    .row
      .col-sm-2
        %br
        %br

        = image_tag "icons500pxincubator.png", class: 'img-responsive section-icon pull-right'


      .col-lg-5
        %br
        %br
        %h1
          Incubator

    .row
      .col-sm-7
        %p.lead
          Space aboard is set aside for building whatever you choose.

          5% of all grown projects go towards keeping the fleet sailing.
        %p.lead
          Open source is always free.


%header.secondary.gamma.text-left
  .container
    .row
      .col-lg-5
        %br
        %br
        %h1
          BECOME A PART OF ENTROPY

%section#contact
  .container
    .row
      .col-lg-3.text-center
        %i.fa.fa-phone.fa-3x.wow.bounceIn
        %p +64 0204 404 004
      .col-lg-3.text-center
        %i.fa.fa-envelope-o.fa-3x.wow.bounceIn{"data-wow-delay" => ".1s"}
        %p
          %a{:href => "mailto:freedom@project-entropy.com"} freedom@project-entropy.com
      .col-lg-3.text-center
        %i.fa.fa-github.fa-3x.wow.bounceIn{"data-wow-delay" => ".1s"}
        %p
          %a{:href => "https://github.com/ProjectEntropy/"} github.com/ProjectEntropy
      .col-lg-3.text-center
        %i.fa.fa-twitter.fa-3x.wow.bounceIn{"data-wow-delay" => ".1s"}
        %p
          %a{:href => "https://twitter.com/EntropyBoat/"} @EntropyBoat
