%header.boat
  .header-content
    .header-content-inner
      %h1.main-lead-text Pioneering a brave new fleet
      %hr/
      %p
      %a.btn.btn-primary.btn-xl.page-scroll{:href => "#map"} About Entropy 01
%section#map
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Entropy 01
        %hr.primary/
        %p.lead With the flexibility, stability and deck size, a modern catamaran was the only choice.

    .row
      .col-lg-12.text-center
        %h2.section-heading Onboard
        %hr.primary/
        %p.lead Full hackspace, running ethereum and bitcoin nodes and extensive internet connection options.
