%header.map
  .header-content
    .header-content-inner
      %h1.main-lead-text What was once unthinkable is now within reach
      %hr/
      %p
      %a.btn.btn-primary.btn-xl.page-scroll{:href => "#map"} About the boat
%section#map
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Boat
        %hr.primary/
