%header.citizens
  .header-content
    .header-content-inner
      %h1.main-lead-text Join the community
      %hr/
      %p
      %a.btn.btn-primary.btn-xl.page-scroll{:href => "#map"} Join us
%section#map
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Citizenship
        %hr.primary/
