= content_for :title do
  Citizens

%header.citizens
  .header-content
    .header-content-inner
      %h1.main-lead-text
        Join the community
      %hr/
      %p
      %a.btn.btn-primary.btn-xl.page-scroll{:href => "#map"} Coming Soon
%section#map
  .container
    .row
      .col-lg-6
        %h2.section-heading Hear updates as we build
        %p Entropy is a work in progress, sign up to get updates about what's going on.
        %br
        / End mc_embed_signup

    .row
      .col-lg-12.text-center
        %h2.section-heading Citizenship & Community Structure
        %hr.primary/
