= content_for :title do
  Citizens

%header.citizens
  .header-content
    .header-content-inner
      %h1.main-lead-text
        Join the community
      %hr/
      %p
      %a.btn.btn-primary.btn-xl.page-scroll{:href => "#map"} Coming Soon
%section#map
  .container
    .row
      .col-lg-6
        %h2.section-heading Hear updates as we build
        %p Entropy is a work in progress, sign up to get updates about what's going on.
        #mc_embed_signup
          %form#mc-embedded-subscribe-form.validate{:action => "//project-entropy.us12.list-manage.com/subscribe/post?u=fb894153d0cc6c3bdeb13794f&id=c9aa23f67a", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
            #mc_embed_signup_scroll

              .form-group
                %label{:for => "mce-EMAIL"}
                  Email Address
                %input#mce-EMAIL.required.email.form-control{:name => "EMAIL", :type => "email", :value => ""}/
              #mce-responses.clear
                #mce-error-response.response{:style => "display:none"}
                #mce-success-response.response{:style => "display:none"}
              / real people should not fill this in and expect good things - do not remove this or risk form bot signups
              %div{"aria-hidden" => "true", :style => "position: absolute; left: -5000px;"}
                %input{:name => "b_fb894153d0cc6c3bdeb13794f_c9aa23f67a", :tabindex => "-1", :type => "text", :value => ""}/
              .clear
                %input#mc-embedded-subscribe.button.btn.btn-success{:name => "subscribe", :type => "submit", :value => "Subscribe"}/
        %br
        / End mc_embed_signup

    .row
      .col-lg-12.text-center
        %h2.section-heading Citizenship & Community Structure
        %hr.primary/
