%header.citizens
  .header-content
    .header-content-inner
      %h1.main-lead-text
        Join the community

      %hr/
      %p
      %a.btn.btn-primary.btn-xl.page-scroll{:href => "#map"} Coming Soon
%section#map
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Citizenship & Community Structure
        %hr.primary/

    .row
      .col-lg-12
        %h3.c3.c4{:id => "h.hlfgp9dl02d7"}
          %span Community
        %p.c3
          %span.c0 Citizens
          %span  hold the following rights:
        %ul.c1.lst-kix_dtboubr0la3w-0.start
          %li.c3.c7
            %span A single vote on every created
            %span.c0 Action
          %li.c3.c7
            %span Creating
            %span.c0 Actions
            %span  
          %li.c3.c7
            %span.c0 Steering Committee
            %span  nomination
        %p.c2
          %span
        %p.c3
          %span Anyone can become an
          %span.c0 Entropy Citizen
          %span  by obtaining one or more
          %span.c0 Entropy Tokens
          %span .
        %p.c2
          %span
        %p.c3
          %span.c0 Citizens
          %span  hold equal voting rights to everyone in the
          %span.c0 Entropy Community
          %span , they are able to suggest any
          %span.c0 Action
          %span  for discussion and vote. These
          %span.c0 Actions
          %span  can be anything at all, from destinations to sail to, events, changes to the mission itself and changes to the
          %span.c0 Steering Committee
          %span .
        %p.c2
          %span
        %p.c3
          %span An
          %span.c0 Entropy Citizen
          %span  is anyone who holds one or more
          %span.c0 Entropy Tokens
          %span . Anyone with an Ethereum address can hold
          %span.c0 Entropy Tokens
          %span .
        %p.c2
          %span
        %h3.c3.c4{:id => "h.9yly0wmxu5s2"}
          %span Steering Committee
        %p.c3
          %span Any
          %span.c0 Entropy Citizen
          %span  can be elected to be part of the
          %span.c0 Steering Committee
          %span  by an accepted
          %span.c0 Action.
        %p.c2
          %span
        %p.c3
          %span The
          %span.c0 Steering Committee
          %span  takes on the responsibility aim to fulfill and document everything within the
          %span.c0 Action Stream
          %span  as organised by and voted on by the wider community.
        %p.c2
          %span
        %p.c3
          %span.c0 Steering Committee
          %span  members have, in addition to the rights of all
          %span.c0 Citizen
          %span , access to any shared funds moved to the
          %span.c0 Slush Pool
          %span  by the
          %span community
          %span  voting as a whole, see below.
        %p.c2
          %span.c0
        %h3.c3.c4{:id => "h.7pw55dn4am1s"}
          %span Actions and Funds
        %p.c3
          %span Any
          %span.c0 Citizen
          %span  can propose a new
          %span.c0 Action
          %span .
        %p.c2
          %span
        %p.c3
          %span All
          %span.c0 Actions
          %span  can be voted on by the entire community for 5 days.
        %p.c2
          %span
        %p.c3
          %span For an
          %span.c0 Action
          %span  to be accepted, it must have more than 50% approval and at least as many votes as there are
          %span.c0 Steering Committee
          %span  members (although voting is open to all
          %span.c0 Citizens
          %span ).
        %p.c2
          %span
        %p.c3
          %span After this period accepted
          %span.c0 Actions
          %span  will be added to the
          %span.c0 Action Stream
          %span until they are marked as complete by one of the
          %span.c0 Steering Committee
          %span .
        %p.c2
          %span
        %p.c3
          %span Declined
          %span.c0 Actions
          %span  will be dismissed to the
          %span.c0 Archive
          %span .
        %p.c2
          %span
        %p.c3
          %span The
          %span.c0 Action Stream
          %span represents what the community is currently aiming to achieve.
        %p.c2
          %span
        %p.c3
          %span Any funds associated with
          %span.c0 Actions
          %span  in the
          %span.c0 Action Stream
          %span  become available in the
          %span.c0 Slush Pool
          %span  for members of the
          %span.c0 Steering Committee
          %span  to use towards making those
          %span.c0 Actions
          %span  happen.
        %p.c2
          %span
        %p.c2
