= content_for :title do
  Crowdfund
%section
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Crowdfund

    .row
      .col-md-6
        %p.lead The Plan
        %p
        Entropy is an
        %strong Ethereum-powered floating experiment
        to crowd-own and steer a fleet of sailing hackspaces around the world - anyone can be part of our global community.
        %p
          We aim to make it easy to see the value of a DAO and an example of the possibilities open to all as we bravely sail into the new world.

.container
  .page-header
    %p.lead Project Entropy will be rolled out in 4 Waves:
  %ul.timeline
    %li
      .timeline-badge.success
        %i.glyphicon.glyphicon-check
      .timeline-panel
        .timeline-heading
          %h4.timeline-title Wave One: New Horizon
          %p
            %small.text-muted
              %i.glyphicon.glyphicon-time
              Minimal Viable Entropy
        .timeline-body
          %p  This wave sees us bootstrap the community, start testing ideas and confirm the projects foundations are good. Limits are in place to keep the number of Citizens, invested Ether and risk to safer levels.
    %li.timeline-inverted
      .timeline-badge
        %i.glyphicon.glyphicon-credit-card
      .timeline-panel
        .timeline-heading
          %h4.timeline-title Wave Two: Wet Feet
          %p
            %small.text-muted
              %i.glyphicon.glyphicon-time
              Starting To Walk
        .timeline-body
          %p Once the community consensus that we are ready is reached, this wave adds additional power to Actions, including sending ether; changes to the Steering Committee and revoking existing desciscions.
          %p Suco de cevadisris lectus, non scelerisque augue. Aenean justo massa.
    %li
      .timeline-badge
        %i.glyphicon.glyphicon-credit-card
      .timeline-panel
        .timeline-heading
          %h4.timeline-title Wave Three: Cast Off
          %p
            %small.text-muted
              %i.glyphicon.glyphicon-time
              Setting Sail
        .timeline-body
          %p Once we have safe, stable governance we can take a historic step sailing onto the world's oceans and inspiring generations to come.

    %li.timeline-inverted
      .timeline-badge
        %i.glyphicon.glyphicon-floppy-disk
      .timeline-panel
        .timeline-heading
          %h4.timeline-title Wave Four: The Fleet
          %p
            %small.text-muted
              %i.glyphicon.glyphicon-time
              Setting Sail
        .timeline-body
          %p We welcome anyone to join us with their boat, as we sail along. You can sail along with us or extend the reach of the Entropy Community across the oceans.

    -# %li
      .timeline-panel
        .timeline-heading
          %h4.timeline-title Wave So What
        .timeline-body
          %p Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
          %hr/
          .btn-group
            %button.btn.btn-primary.btn-sm.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
              %i.glyphicon.glyphicon-cog
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              %li
                %a{:href => "#"} Action
              %li
                %a{:href => "#"} Another action
              %li
                %a{:href => "#"} Something else here
              %li.divider
              %li
                %a{:href => "#"} Separated link
