= content_for :title do
  Our DAO
%section
  .container
    .row
      .col-sm-8
        %h2.section-heading
          The Entropy DAO

        %p.lead
          Entropy is built ontop of an experimental but simple DAO structure
          designed to balance a real world project with the benefits of crowd wisdom and blockchain transparency
      .col-sm-4
        :plain
          <div class="github-card" data-github="ProjectEntropy/contracts" data-theme="default"></div>
          <div class="github-card" data-github="ProjectEntropy/project-entropy.com" data-theme="default"></div>
          <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
    .row
      .col-lg-12
        = inline_svg "DAO_overview.svg"#, class: 'some-class'


    .row
      .col-lg-12
        %h3
          %a#community-house_with_garden.anchor{"aria-hidden" => "true", :href => "#community-house_with_garden"}>
            %svg.octicon.octicon-link{"aria-hidden" => "true", :height => "16", :version => "1.1", :viewbox => "0 0 16 16", :width => "16"}
              %path{:d => "M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z", "fill-rule" => "evenodd"}
          Community
          %g-emoji{:alias => "house_with_garden", "fallback-src" => "https://assets-cdn.github.com/images/icons/emoji/unicode/1f3e1.png", "ios-version" => "6.0"} ðŸ¡
        %p
          Citizens
          %g-emoji{:alias => "two_men_holding_hands", "fallback-src" => "https://assets-cdn.github.com/images/icons/emoji/unicode/1f46c.png", "ios-version" => "6.0"} ðŸ‘¬
          hold the following rights:
        %ul
          %li
            A single Vote
            %g-emoji{:alias => "hand", "fallback-src" => "https://assets-cdn.github.com/images/icons/emoji/unicode/270b.png", "ios-version" => "6.0"} âœ‹
            on every created Action
            %g-emoji{:alias => "bulb", "fallback-src" => "https://assets-cdn.github.com/images/icons/emoji/unicode/1f4a1.png", "ios-version" => "6.0"} ðŸ’¡
          %li
            Creating Actions
            %g-emoji{:alias => "bulb", "fallback-src" => "https://assets-cdn.github.com/images/icons/emoji/unicode/1f4a1.png", "ios-version" => "6.0"} ðŸ’¡
          %li
            Guardian
            %g-emoji{:alias => "guardsman", "fallback-src" => "https://assets-cdn.github.com/images/icons/emoji/unicode/1f482.png", "ios-version" => "6.0"} ðŸ’‚
            nomination
        %p
          Anyone can become a Citizen
          %g-emoji{:alias => "running_man", "fallback-src" => "https://assets-cdn.github.com/images/icons/emoji/unicode/1f3c3.png", "ios-version" => "6.0"} ðŸƒ
          by obtaining and holding one or more Entropy Tokens
          %g-emoji{:alias => "cookie", "fallback-src" => "https://assets-cdn.github.com/images/icons/emoji/unicode/1f36a.png", "ios-version" => "6.0"} ðŸª
        %p
          The individuality of citizens is confirmed by the guardians, once it is confirmed
          they become Trusted Citizens
          %g-emoji{:alias => "two_women_holding_hands", "fallback-src" => "https://assets-cdn.github.com/images/icons/emoji/unicode/1f46d.png", "ios-version" => "6.0"} ðŸ‘­
        %p
          Trusted Citizens
          %g-emoji{:alias => "two_women_holding_hands", "fallback-src" => "https://assets-cdn.github.com/images/icons/emoji/unicode/1f46d.png", "ios-version" => "6.0"} ðŸ‘­
          hold equal voting rights to all trusted individuals in the Entropy Community, they are able to suggest any Action
          %g-emoji{:alias => "bulb", "fallback-src" => "https://assets-cdn.github.com/images/icons/emoji/unicode/1f4a1.png", "ios-version" => "6.0"} ðŸ’¡
          for discussion and vote. These Actions
          %g-emoji{:alias => "bulb", "fallback-src" => "https://assets-cdn.github.com/images/icons/emoji/unicode/1f4a1.png", "ios-version" => "6.0"} ðŸ’¡
          can be anything at all, from destinations to sail to, events, changes to the mission itself and changes to the Guardians
          %g-emoji{:alias => "guardsman", "fallback-src" => "https://assets-cdn.github.com/images/icons/emoji/unicode/1f482.png", "ios-version" => "6.0"} ðŸ’‚
        %h3
          %a#guardians-guardsman.anchor{"aria-hidden" => "true", :href => "#guardians-guardsman"}>
            %svg.octicon.octicon-link{"aria-hidden" => "true", :height => "16", :version => "1.1", :viewbox => "0 0 16 16", :width => "16"}
              %path{:d => "M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z", "fill-rule" => "evenodd"}
          Guardians
          %g-emoji{:alias => "guardsman", "fallback-src" => "https://assets-cdn.github.com/images/icons/emoji/unicode/1f482.png", "ios-version" => "6.0"} ðŸ’‚
        %p
          Guardians
          %g-emoji{:alias => "guardsman", "fallback-src" => "https://assets-cdn.github.com/images/icons/emoji/unicode/1f482.png", "ios-version" => "6.0"} ðŸ’‚
          take on the responsibility to fulfil and document everything within the Action Stream
          %g-emoji{:alias => "clipboard", "fallback-src" => "https://assets-cdn.github.com/images/icons/emoji/unicode/1f4cb.png", "ios-version" => "6.0"} ðŸ“‹
          as organised by and voted on by the wider community.
        %p
          They have, in addition to the rights of all Citizens
          = succeed "," do
            %g-emoji{:alias => "running_man", "fallback-src" => "https://assets-cdn.github.com/images/icons/emoji/unicode/1f3c3.png", "ios-version" => "6.0"} ðŸƒ
          %g-emoji{:alias => "moneybag", "fallback-src" => "https://assets-cdn.github.com/images/icons/emoji/unicode/1f4b0.png", "ios-version" => "6.0"} ðŸ’°
          by the community voting as a whole.
        %p
          Guardians are also able to mark Citizens as trusted, allowing for a human-based
          proof of individuality system.
        %p
          Any Citizen
          %g-emoji{:alias => "running_man", "fallback-src" => "https://assets-cdn.github.com/images/icons/emoji/unicode/1f3c3.png", "ios-version" => "6.0"} ðŸƒ
          can be elected to be a Guardian
          %g-emoji{:alias => "guardsman", "fallback-src" => "https://assets-cdn.github.com/images/icons/emoji/unicode/1f482.png", "ios-version" => "6.0"} ðŸ’‚
          by an accepted Action
          %g-emoji{:alias => "bulb", "fallback-src" => "https://assets-cdn.github.com/images/icons/emoji/unicode/1f4a1.png", "ios-version" => "6.0"} ðŸ’¡
        %p Guardians are accountable to the wider community and can, if needs be, be unelected by a successful Action against them.
        %h3
          %a#actions-and-funds-bulb-moneybag.anchor{"aria-hidden" => "true", :href => "#actions-and-funds-bulb-moneybag"}>
            %svg.octicon.octicon-link{"aria-hidden" => "true", :height => "16", :version => "1.1", :viewbox => "0 0 16 16", :width => "16"}
              %path{:d => "M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z", "fill-rule" => "evenodd"}
          Actions and Funds
          %g-emoji{:alias => "bulb", "fallback-src" => "https://assets-cdn.github.com/images/icons/emoji/unicode/1f4a1.png", "ios-version" => "6.0"} ðŸ’¡
          %g-emoji{:alias => "moneybag", "fallback-src" => "https://assets-cdn.github.com/images/icons/emoji/unicode/1f4b0.png", "ios-version" => "6.0"} ðŸ’°
        %p
          Any Citizen
          %g-emoji{:alias => "running_man", "fallback-src" => "https://assets-cdn.github.com/images/icons/emoji/unicode/1f3c3.png", "ios-version" => "6.0"} ðŸƒ
          can propose a new Action
          %g-emoji{:alias => "bulb", "fallback-src" => "https://assets-cdn.github.com/images/icons/emoji/unicode/1f4a1.png", "ios-version" => "6.0"} ðŸ’¡
        %p
          All Actions
          %g-emoji{:alias => "bulb", "fallback-src" => "https://assets-cdn.github.com/images/icons/emoji/unicode/1f4a1.png", "ios-version" => "6.0"} ðŸ’¡
          can be voted
          %g-emoji{:alias => "hand", "fallback-src" => "https://assets-cdn.github.com/images/icons/emoji/unicode/270b.png", "ios-version" => "6.0"} âœ‹
          on by the entire community for 5 days.
        %p
          For an Action
          %g-emoji{:alias => "bulb", "fallback-src" => "https://assets-cdn.github.com/images/icons/emoji/unicode/1f4a1.png", "ios-version" => "6.0"} ðŸ’¡
          to be accepted, it must have
          %em more than 50% approval
          and at least as many votes
          %g-emoji{:alias => "hand", "fallback-src" => "https://assets-cdn.github.com/images/icons/emoji/unicode/270b.png", "ios-version" => "6.0"} âœ‹
          as there are Guardian
          %g-emoji{:alias => "guardsman", "fallback-src" => "https://assets-cdn.github.com/images/icons/emoji/unicode/1f482.png", "ios-version" => "6.0"} ðŸ’‚
          members (although voting is open to all Citizens
          = succeed ")." do
            %g-emoji{:alias => "family_man_woman_boy", "fallback-src" => "https://assets-cdn.github.com/images/icons/emoji/unicode/1f46a.png", "ios-version" => "6.0"} ðŸ‘ª
        %p
          After this period accepted Actions
          %g-emoji{:alias => "bulb", "fallback-src" => "https://assets-cdn.github.com/images/icons/emoji/unicode/1f4a1.png", "ios-version" => "6.0"} ðŸ’¡
          will be added to the Action Stream
          %g-emoji{:alias => "clipboard", "fallback-src" => "https://assets-cdn.github.com/images/icons/emoji/unicode/1f4cb.png", "ios-version" => "6.0"} ðŸ“‹
          until they are marked as complete by one of the Guardians
          %g-emoji{:alias => "guardsman", "fallback-src" => "https://assets-cdn.github.com/images/icons/emoji/unicode/1f482.png", "ios-version" => "6.0"} ðŸ’‚
        %p
          Declined Actions
          %g-emoji{:alias => "bulb", "fallback-src" => "https://assets-cdn.github.com/images/icons/emoji/unicode/1f4a1.png", "ios-version" => "6.0"} ðŸ’¡
          will be dismissed to the Archive
          %g-emoji{:alias => "recycle", "fallback-src" => "https://assets-cdn.github.com/images/icons/emoji/unicode/267b.png", "ios-version" => "6.0"} â™»ï¸
        %p
          The Action Stream
          %g-emoji{:alias => "clipboard", "fallback-src" => "https://assets-cdn.github.com/images/icons/emoji/unicode/1f4cb.png", "ios-version" => "6.0"} ðŸ“‹
          represents what the community is currently aiming to achieve.
        %p
          Any funds associated with Actions
          %g-emoji{:alias => "bulb", "fallback-src" => "https://assets-cdn.github.com/images/icons/emoji/unicode/1f4a1.png", "ios-version" => "6.0"} ðŸ’¡
          in the Action Stream
          %g-emoji{:alias => "clipboard", "fallback-src" => "https://assets-cdn.github.com/images/icons/emoji/unicode/1f4cb.png", "ios-version" => "6.0"} ðŸ“‹
          become available in the Slush Pool
          %g-emoji{:alias => "moneybag", "fallback-src" => "https://assets-cdn.github.com/images/icons/emoji/unicode/1f4b0.png", "ios-version" => "6.0"} ðŸ’°
          for the Guardians
          %g-emoji{:alias => "guardsman", "fallback-src" => "https://assets-cdn.github.com/images/icons/emoji/unicode/1f482.png", "ios-version" => "6.0"} ðŸ’‚
          to use towards making those Actions
          %g-emoji{:alias => "bulb", "fallback-src" => "https://assets-cdn.github.com/images/icons/emoji/unicode/1f4a1.png", "ios-version" => "6.0"} ðŸ’¡
          happen.
        %p
          %g-emoji{:alias => "rainbow", "fallback-src" => "https://assets-cdn.github.com/images/icons/emoji/unicode/1f308.png", "ios-version" => "6.0"} ðŸŒˆ
          %g-emoji{:alias => "boat", "fallback-src" => "https://assets-cdn.github.com/images/icons/emoji/unicode/26f5.png", "ios-version" => "6.0"} â›µï¸
          %g-emoji{:alias => "fireworks", "fallback-src" => "https://assets-cdn.github.com/images/icons/emoji/unicode/1f386.png", "ios-version" => "6.0"} ðŸŽ†
