%header.hackspace
  .header-content
    .header-content-inner
      %h1.main-lead-text Be part of the worlds only floating hackspace
      %hr/
      %p
      %a.btn.btn-primary.btn-xl.page-scroll{:href => "#map"} Learn More
%section#map
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Route
        %hr.primary/
