%section#news
  .container
    .row
      .col-lg-6
        %h1.section-heading Project Entropy Log

    .row
      .col-lg-6
        %h2 DAO Testing Rollout Plan
        %span.text-muted 21st June 2016

        %h4.lead Waved Beta Rollouts & Upper Funding Limit

        %p.lead
          It's fundamentally important that we manage the creation, trust and
          safety of Entropy as it comes to life.

        %p.lead
          Our proposed staged rollout plan involves building and testing the
          bare minimum neccssary to evolve the project in slow, explicityly
          controlled waves with set funding limits, community review of all
          changes and citizen control over when we progres to the next wave.

        %h3 Wave 1: New Horizon
        %p.text-muted
          %i Minimal Viable Entropy
        %p.lead
          This wave sees us bootstrap the community, start testing ideas and
          confirm the projects foundations are good. Limits are in place to
          keep the number of Citizens, invested Ether and risk to safer levels.

        %strong Safety Limits
        %ul
          %li Population Limit: 300 Citizens
          %li Funding limit: 300 eth
        %strong Built Parts
        %ul
          %li Discounted pioneer-Citizenship
          %li Rewards
          %li
            Funds available to build the next stage
          %li "New Contract" Action to move to Wave 2 when ready

        %strong Aims
        %ul
          %li Bring aboard our first Citizens
          %li Grow the Steering Committee
          %li Crowd test both this wave and the next
          %li Begin development of Wave 2

        %hr.primary/
        %h3 Wave 2: Wet Feet
        %p.text-muted
          %i Starting to Walk
        %p.lead
          Once the community consensus that we are ready is reached, this wave adds additional
          power to Actions, including sending ether; changes to the Steering
          Committee and revoking existing desciscions.
        %strong Safety Limits
        %ul
          %li Population Limit: 1,000 Citizens
          %li Funding limit: 2,000 eth
        %strong Built Parts
        %ul
          %li Action system
          %li Citizenship
          %li Commitee changes
          %li Adding spending to Actions
        %strong Aims
        %ul
          %li Ready the fleet
          %li Booking system to come aboard
          %li Crowd test both this wave and the next
          %li Begin development of Wave 3

        %hr.primary/
        %h3 Wave 3: Cast off
        %p.text-muted
          %i Setting Sail
        %p.lead
          Once we have safe, stable governance we can take a historic step sailing
          onto the world's oceans and inspiring generations to come.

        %strong Safety Limits
        %ul
          %li Population Limit: 10,000 Citizens
          %li Funding limit: 20,000 eth
        %strong Built Parts
        %ul
          %li Foundations for a full distributed governence society
        %strong Aims
        %ul
          %li First Citizens aboard
          %li First incubated projects aboard
          %li Change the world forever
