---
http_interactions:
- request:
    method: get
    uri: https://api.coinprism.com/v1/assets//AdjonhsTtUxo26WhFk1LxayXNUZa7jkszX/owners
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"block_height":385568,"asset_id":"AdjonhsTtUxo26WhFk1LxayXNUZa7jkszX","owners":[{"script":"76a914ee3c1e561b43b4522e1dacdeadf822dbf964d8ce88ac","address":"1NifqmDXjuoJzi6eGzL9cctDBo8WxNPCgo","asset_quantity":"26100"},{"script":"76a914ae3209e138d29ba6f91c4ed3fa4114fcbb7c941688ac","address":"1Gt4X81dUrVwizXraCtpibjahLQrjsi6Un","asset_quantity":"18080"},{"script":"76a914750ef64e1f9fc579952ed210fc0bae47df51edc688ac","address":"1Bfwz2on85ihqHqSZiA4k9d7RWVtPpw13e","asset_quantity":"14455"},{"script":"76a91471b60ff34265970761d8f4fccf0d1a25bfbd8e8988ac","address":"1BNFTb5gPzXAmYvXafST6hPaUFA3XjR9Zy","asset_quantity":"10710"},{"script":"76a914cac73c1f3f318335c83c8ea3c85516a539f5f27388ac","address":"1KVCAq8to[...]
