---
http_interactions:
- request:
    method: get
    uri: https://api.coinprism.com/v1/addresses//1L7jnZWnbfLeLim4uGjY4haYx4u1wgvX6e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"address":"1L7jnZWnbfLeLim4uGjY4haYx4u1wgvX6e","asset_address":"akW5d2jL859ELCxvRwtqiiZV8Hg5Bx7Pu19","bitcoin_address":"1L7jnZWnbfLeLim4uGjY4haYx4u1wgvX6e","issuable_asset":"AHWxTjWHDyJVSnSKjHdiyPMmkrEzRB3aWV","balance":5010000,"unconfirmed_balance":0,"assets":[]}'
  recorded_at: Fri, 27 Nov 2015 08:00:20 GMT
recorded_with: VCR 3.0.0
