%nav#mainNav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Bitcoin 01', root_path, class: 'navbar-brand page-scroll'

    / Collect the nav links, forms, and other content for toggling
    = render 'layouts/navigation_links'

    / /.navbar-collapse
  / /.container-fluid
-# 
-#
-# -# navigation styled for Bootstrap 3.0
-# %nav#mainNav.navbar.navbar-default.navbar-fixed-top
-#   .container-fluid
-#     .navbar-header
-#       %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
-#         %span.sr-only Toggle navigation
-#         %span.icon-bar
-#         %span.icon-bar
-#         %span.icon-bar
-#       = link_to 'Home', root_path, class: 'navbar-brand'
-#     .collapse.navbar-collapse
-#       %ul.nav.navbar-nav
-#         = render 'layouts/navigation_links'
