#bs-example-navbar-collapse-1.collapse.navbar-collapse
  %ul.nav.navbar-nav.navbar-right
    %li
      = link_to "about", page_path('about')
    %li
      = link_to "Map", page_path('map')
    %li
      %a.page-scroll{:href => "#portfolio"} Citizenship
    %li
      %a.page-scroll{:href => "#contact"} Contact
