%nav#mainNav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_path, class: 'navbar-brand page-scroll' do
        %span.fa-stack.fa-lg
          %i.fa.fa-circle.fa-stack-2x.logo_ring
          %i.fa.fa-bitcoin.fa-stack-1x.fa-inverse.logo_bitcoin
        Bitcoin 01

    / Collect the nav links, forms, and other content for toggling
    = render 'layouts/navigation_links'
