#bs-example-navbar-collapse-1.collapse.navbar-collapse
  %ul.nav.navbar-nav.navbar-right
    %li
      %a.page-scroll{:href => "#about"} About
    %li
      %a.page-scroll{:href => "#services"} Map
    %li
      %a.page-scroll{:href => "#portfolio"} Citizenship
    %li
      %a.page-scroll{:href => "#contact"} Contact
